.ajax__myTab .ajax__tab_header
{
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;
    border-bottom: solid 1px #999999;
    padding-left: 2%;
    cursor: default;
}

.ajax__myTab .ajax__tab_outer
{
    height: 21px;
    background-color: #333333;
    margin-right: 2px;
    border-left: solid 1px #666666;
    border-right: solid 1px #666666;
    border-top: solid 1px #666666;
}

.ajax__myTab .ajax__tab_inner
{
    padding-left: 3px;
    background-color: #C0C0C0;
}

.ajax__myTab .ajax__tab_tab
{
    height: 13px;
    padding: 4px;
    margin: 0px; 
    width: 150px;   
}

.ajax__myTab .ajax__tab_hover .ajax__tab_outer
{
    background-color: #CDC9C9;
}

.ajax__myTab .ajax__tab_hover .ajax__tab_inner
{
    background-image: url(IMG/fundoN3S.png);
    color: #ffffff;
    
    /* Transparência no background. Uma implementação para cada navegador */
    opacity: 0.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
}

.ajax__myTab .ajax__tab_hover .ajax__tab_tab
{
}

.ajax__myTab .ajax__tab_active .ajax__tab_outer
{
    background-color: #fff;
    border-left: solid 1px #999999;
    border-top: solid 1px #999999;
    border-right: solid 1px #999999;
}

.ajax__myTab .ajax__tab_active .ajax__tab_inner
{
    background-color: #fff;
    border-bottom: 1px solid #ffffff;
}

.ajax__myTab .ajax__tab_active .ajax__tab_tab
{
}

.ajax__myTab .ajax__tab_body
{
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    border-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 20px;
    background-color: #ffffff;
}

