#avaliContratante
{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: block;
}
#avaliContratante label
{
    text-align: right;
    min-width: 140px;
    max-width: 140px;
    width: 140px;
    display:block;
    float: left;
    margin-right: 5px;
}
#avaliPrestador
{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: block;
}
#avaliPrestador label
{
    text-align: right;
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    display:block;
    float: left;
    margin-right: 5px;
}



