body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rokkitt' , serif;
    font-size: 16px;
    background: #EEE9E9;
}

.labelOrc
{
    display: block;
    width: 200px;
    text-align: right;
    float: left;
    padding-top: 6px;
    height: 24px;
    margin-right: 20px;
    margin-top: 5px;
}

.labelRespOrc
{
    display: block;
    text-align: left;
    float: left;
    padding-top: 6px;
    height: 24px;
    margin-right: 20px;
    margin-top: 5px;
}

/* Classes usadas no componente de notificações */
#conteudoNotificacao
{
    margin-top: 0px;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 67%;
    top: 46px;
    width: 320px;
    height: 400px;
    padding-top: 4px;
    border-left: 1px solid #68228B;
    border-right: 1px solid #68228B;
    border-bottom: 1px solid #68228B;
    background-color: White;
    background-attachment: fixed;
    overflow: auto;
}
#conteudoNotificacao
{
    margin-top: 0px;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 67%;
    top: 46px;
    width: 320px;
    height: 400px;
    padding-top: 4px;
    border-left: 1px solid #68228B;
    border-right: 1px solid #68228B;
    border-bottom: 1px solid #68228B;
    background-color: White;
    background-attachment: fixed;
    overflow: auto;
}
#contadorNotif
{
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-left: 1px solid #68228B;
    border-right: 1px solid #68228B;
    border-bottom: 1px solid #68228B;
    border-top: 1px solid #68228B;
}
/* CSS Aplicado na barra que mostra os erros, mensagens e alertas do sistema */
.alert
{
    overflow: hidden;
    width: auto;
    z-index: 99999;
    display: block;
    position: fixed;
    top: 50px;
    left: 20%;
    right: 20%;
    background-color: #3f3f3f;
    height: 10px;
    color: #fff;
    text-align: center;
    font: 15px/25px arial, sans-serif;
    cursor: pointer;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
     -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;

}
/* Titulos no menu lateral */
.titulo
{
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
}
.titulo a
{
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.titulo a:hover
{
    color: #7B68EE;
}
.subTitulo
{
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: 'Salsa' , cursive;
    font-weight: bold;
    color: #ffffff;
}
/* Necessário para empurrar o rodapé para o fim da página */
#wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
/* Div central das páginas onde não há a necessidade login para a sua visualisação  */
#conteudoOff
{
    font-family: 'Rokkitt' , serif;
    font-size: 15px;
    min-width: 600px;
    max-width: 1500px;
    width: 50%;
    min-height: 527px;
    height: auto;
    margin: 0px auto;
}
/* Rodapé da página*/
#footer
{
    width: 100%;
    clear: both;
    height: 70px;
    background-image: url(img/fundoN3S.jpg);
    bottom: 0px;
}
#footer #mongo
{
    display: block;
    float: right;
    padding-right: 5px;
}
#footer #mongo
{
    text-decoration: none;
}
#footer #mongo b
{
    padding-left: 25px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
#footer #mongo img
{
    width: 120px;
    height: 45px;
}
#footer p
{
    padding-left: 12%;
    margin: 0;
    padding-top: 10px;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
#footer p a
{
    color: #ffffff;
    text-decoration: none;
}
#footer p a:hover
{
    color: #6e5ba4;
}
/* Menu localizado no topo da página */
#menuTop
{
    display: block;
    width: 100%;
    height: 45px;
    background: url(img/fundoN3S.jpg);
    position: fixed;
    z-index: 99997;
}
#menuTop #logo
{
    margin-left: 35px;
    margin-top: 8px;
    height: 30px;
    float: left;
}
#menuTopOff
{
   display: block;
   width: 100%;
   height: 50px;
   background: url(img/fundoN3S.jpg);
}
#menuTopOff #logoOff
{
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 80px;
    float: left;
}
#menuTop #opcoes
{
    width: auto;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
#menuTop #opcoes .link
{
    font-family: 'Rokkitt' , serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
}
#menuTop #opcoes .link:hover
{
    color: #6e5ba4;
}
/* Pesquisa na barra de tarefas */
#searchwrapper
{
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    display: block;
    float: left;
    width: 300px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#DCE6CF), to(#ffffff));
    background: -moz-linear-gradient(top, #DCE6CF, #ffffff); /* Resolve o problema do degradê no IE9 */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#DCE6CF', EndColorStr='#ffffff');
}
#searchwrapper form
{
    display: inline;
}
.searchbox
{
    border: 0px;
    background-color: transparent;
    position: absolute;
    margin-left: 10px;
    width: 250px;
    height: 25px;
}
.searchbox_submit
{
    border: 0px;
    background: transparent url(img/find.png) no-repeat;
    position: absolute;
    top: 2px;
    left: 265px;
    width: 22px;
    height: 22px;
}
/* Div que flutua a esquerda da págia. Possui dentro dela a foto do perfil, menu principal, etc... */
#ladoEsquerdo
{
    border-top-left-radius: 60px 30px;
    border-top-right-radius: 60px 30px;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 0px;
    background: #3f3f3f;
    display: block;
    float: left;
    margin-top: 45px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 250px;
}
/* Foto de perfil do usuário */
#ladoEsquerdo #imgPerfil
{
    display: block;
    margin: 5px auto;
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 5px;
    border: 2px solid #fff;
	padding: 3px;
	background: #3f3f3f; 

}
/* Imagens de do perfil dos usuários do seu networking */
#ladoEsquerdo #network
{
    display: block;
    text-align: center;
}
#ladoEsquerdo #network a
{
    text-decoration: none;
}
#ladoEsquerdo #network a:hover 
{
	position: relative; /* Allows the tooltip to be absolutely positioned */
	z-index: 100;
}
/* Speech Bubble */
#ladoEsquerdo #network a:before 
{
	background: #5C294A;
	color: #fff;
	content: attr(data-sbtooltip); /* This takes the content of the attribute named "data-sbtooltip" and displays it within this element – We will use jQuery to take care of this to make sure that the document is still valid xHTML*/
	display: none; /* Hidden until hovered upon */
    width: auto;

/* Font, padding, top and right must change depending on the font size you are using on your web page */
	font: 12px Helvetica, Arial, Georgia, sans-serif;
	padding: 5px 10px;
	position: absolute;
	top: 23px;
	right: 0;

/* Border radii for different browsers */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
/* Triangle */
#ladoEsquerdo #network a:after 
{
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent #5C294A transparent;
	content: ""; /* Forces this pseudo-element to appear on hover */
	display: none;
	height: 2px; /* Width and height could  be left out, but I prefer a less 'pointy' triangle */
	width: 2px;
	position: absolute;
	top: 0px;
	right: 10px;
}
/* Display on hover */
#ladoEsquerdo #network a:hover:after, #ladoEsquerdo #network a:hover:before 
{
	display: block; /* The Speech-bubble tooltip and pointer will appear on hover */
}
#ladoEsquerdo #network img
{
    margin: 2px;
    width: 40px;
    height: 40px;
}
/* Icones do menu */
#ladoEsquerdo .menuIco
{
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 5px;
}
#ladoEsquerdo .menu
{
    display: block;
    width: 180px;
    height: 24px;
    margin-right: 5px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    font-weight: bolder;
    margin-left: 35px;
}
#ladoEsquerdo .menu:hover
{
    color: #6e5ba4;
}
/* Estilo estrelas de avaliação */
.ratingStar
{
    font-size: 0pt;
    width: 13px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}
.filledRatingStar
{
    background-image: url(IMG/FilledStar.png);
}
.emptyRatingStar
{
    background-image: url(IMG/EmptyStar.png);
}
.savedRatingStar
{
    background-image: url(IMG/SavedStar.png);
}
/* Div central que guarda os conteúdos */
#conteudo
{
    font-family: 'Rokkitt' , serif;
    font-size: 15px;
    display: block;
    float: left;
    padding: 10px 10px 10px 10px;
    width: 700px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    min-height: 520px;
}
#conteudo h2
{
    float: left;
    font-size: 20px;
    font-family: 'Salsa' , cursive, Arial, Helvetica, sans-serif;
    color: #5C294A;
}
#conteudo hr
{
    margin-bottom: 15px;
    border: 1px solid #3f3f3f;
}
.btn
{
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    text-decoration:none;
    background-color: #590044;
    border: #6A0D37 solid 1px;
    padding: 4px 8px;
    color: #FFF;
    font-size: 12px;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.btn:hover
{
    /* background-color: #6e5ba4; */
    -webkit-animation-name: purplePulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;  
    background-color: #7B68EE; 
    -webkit-box-shadow:: 0 0 18px #7B68EE; 
    -moz-box-shadow: 0 0 18px #7B68EE;
    box-shadow: 0 0 18px #7B68EE;
    border: #9370DB solid 1px;
}
/* Animação do botão que faz com que o botão brilhe */
@-webkit-keyframes purplePulse 
{
    from  
    {
        background-color: #590044; 
        box-shadow: 0 0 9px #6A0D37;
        -webkit-box-shadow: 0 0 9px #6A0D37;
        -moz-box-shadow: 0 0 9px #6A0D37; 
    }
    to  
    {
        background-color: #7B68EE; 
        border: #9370DB solid 1px; 
        -webkit-box-shadow: 0 0 18px #7B68EE; 
        -moz-box-shadow: 0 0 18px #7B68EE; 
        box-shadow: 0 0 18px #7B68EE;
    }
}
/* Css para contatos. Coloquei na master pq é muito pequeno para colocar em outro arquivo */
#contato
{
    display: block;
    width: 100%;
    margin-top: 45px;
}
#contato .info
{
    width: 70px;
    display: block;
    text-align: right;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
#contato .txt
{
    display: block;
    float: left;
    margin-bottom: 10px;
}


