<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<sessionState timeout="30"></sessionState>-->
    <authentication mode="Forms">
      <forms 
        loginUrl="LoginADM2.aspx"
        timeout="30"
        cookieless="UseCookies"
        defaultUrl="Admin/Perfil.aspx"
        name=".ASPXAUTH"
        path="\"
        protection="All"
        requireSSL="false" 
        slidingExpiration="false" />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
    <!--
    <location path="Admin/CategoriasServico.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    -->
</configuration>
