<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EMAILNET3S" value="net3services@gmail.com"/>
    <add key="EMAILERROSNET3S" value="erros.net3services@gmail.com"/>
    <add key="SENHAEMAILNET3S" value="n3shdi.6w-a"/>
  </appSettings>
  <system.web>
    <trace enabled="false" localOnly="true"/>
    <httpCookies httpOnlyCookies="true"/>
    <urlMappings enabled="true">
      <add url="~/" mappedUrl="~/Default.aspx"/>
    </urlMappings>
    <sessionState cookieless="UseCookies"/>
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Default.aspx" name=".ASPXAUTH" timeout="30" path="\" requireSSL="false" protection="All" slidingExpiration="false"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors defaultRedirect="~/Erros/Padrao.html" mode="Off">
      <error statusCode="401" redirect="~/Default.aspx"/>
      <error statusCode="403" redirect="~/Erros/403.html"/>
      <error statusCode="404" redirect="~/Erros/404.html"/>
      <error statusCode="500" redirect="~/Erros/500.html"/>
      <error statusCode="503" redirect="~/Erros/503.html"/>
    </customErrors>
  </system.web>
  <location path="Help">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Imagens">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Img.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Propaganda">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ComingSoon.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TermosUso.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="logarCadastrar.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ConfirmarCadastro.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RecuperarSenha.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ReescreverSenha.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>